<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>
<body>
    <% include ../partials/navigation %>
    <div class="card text-center">
       <h1 class="center">Page not Found</h1>
        <br><br>
        <h3 class="center">You don't have enough permissions!!!</h3>
        <br><br>
        Please login here:
          <a href="/auth/login" class="btn btn-primary">Login</a>
       
       <br><br>

      </div>

</body>
<% include ../partials/footer %>

</html>


